agent:
  envFrom:
    - secretRef:
        name: grafana-agent-secrets
  extraPorts:
    - name: "otlp-4317"
      port: 4317
      targetPort: 4317
      protocol: "TCP"
    - name: "otlp-4318"
      port: 4318
      targetPort: 4318
      protocol: "TCP"
controller:
  type: deployment
