default:
  envOverrides:
    - name: OTEL_COLLECTOR_NAME
      value: grafana-agent-appo11y-cedric
    - name: OTEL_RESOURCE_ATTRIBUTES
      value: service.name=$(OTEL_SERVICE_NAME),service.namespace=otel-demo-appo11y-cedric

opentelemetry-collector:
  enabled: false

jaeger:
  enabled: false

prometheus:
  enabled: false

grafana:
  enabled: false
