# .github/workflows/deploy.yml
name: Deploy
on:
  push:
    branches: main

jobs:
  deployment:
    runs-on: 'ubuntu-latest'
    steps:
      - uses: actions/checkout@v3
      - name: Authenticate to GCP
        uses: google-github-actions/auth@v1
        with:
          credentials_json: ${{ secrets.GOOGLE_PROJECT_SA_KEY }}
          project_id: ${{ secrets.GOOGLE_PROJECT_ID }}
          
      - uses: simenandre/setup-gke-gcloud-auth-plugin@v1

      - uses: google-github-actions/get-gke-credentials@v1
        with:
          cluster_name: ${{ secrets.GKE_CLUSTER_NAME }}
          location: ${{ secrets.GKE_CLUSTER_REGION }}

      - name: Add charts
        uses: WyriHaximus/github-action-helm3@v3
        with:
          exec: |
            helm repo add grafana https://grafana.github.io/helm-charts
            helm repo add open-telemetry https://open-telemetry.github.io/opentelemetry-helm-charts
      
      - name: Write Secrets
        env:
          GRAFANA_CLOUD_PROMETHEUS_URL: ${{ secrets.GRAFANA_CLOUD_PROMETHEUS_URL }}
          GRAFANA_CLOUD_LOKI_URL: ${{ secrets.GRAFANA_CLOUD_LOKI_URL }}
          GRAFANA_CLOUD_TEMPO_ENDPOINT: ${{ secrets.GRAFANA_CLOUD_TEMPO_ENDPOINT }}
          GRAFANA_CLOUD_PROMETHEUS_USERNAME: ${{ secrets.GRAFANA_CLOUD_PROMETHEUS_USERNAME }}
          GRAFANA_CLOUD_TEMPO_USERNAME: ${{ secrets.GRAFANA_CLOUD_TEMPO_USERNAME }}
          GRAFANA_CLOUD_LOKI_USERNAME: ${{ secrets.GRAFANA_CLOUD_LOKI_USERNAME }}
          GRAFANA_CLOUD_API_KEY: ${{ secrets.GRAFANA_CLOUD_API_KEY }}
        run: |
          touch .env.secret
          echo GRAFANA_CLOUD_PROMETHEUS_URL="$GRAFANA_CLOUD_PROMETHEUS_URL" >> .env.secret
          echo GRAFANA_CLOUD_LOKI_URL="$GRAFANA_CLOUD_LOKI_URL" >> .env.secret
          echo GRAFANA_CLOUD_TEMPO_ENDPOINT="$GRAFANA_CLOUD_TEMPO_ENDPOINT" >> .env.secret
          echo GRAFANA_CLOUD_PROMETHEUS_USERNAME="$GRAFANA_CLOUD_PROMETHEUS_USERNAME" >> .env.secret
          echo GRAFANA_CLOUD_TEMPO_USERNAME="$GRAFANA_CLOUD_TEMPO_USERNAME" >> .env.secret
          echo GRAFANA_CLOUD_LOKI_USERNAME="$GRAFANA_CLOUD_LOKI_USERNAME" >> .env.secret
          echo GRAFANA_CLOUD_API_KEY="$GRAFANA_CLOUD_API_KEY" >> .env.secret
      
      - uses: actions-hub/kubectl@master
        with:
          args: apply -k ./otel-demo-appo11y/

      - name: Deploy Grafana Agent
        uses: WyriHaximus/github-action-helm3@v3
        with:
          exec: |
            helm upgrade grafana-agent-appo11y-cedric grafana/grafana-agent \
              --install \
              --force \
              --wait \
              --atomic \
              --timeout 10m0s \
              --namespace=otel-demo-appo11y-cedric \
              --create-namespace \
              --set-file agent.configMap.content=./otel-demo-appo11y/agent.river \
              --set agent.envFrom[0].secretRef[name]=grafana-agent-secrets \
              --values=./otel-demo-appo11y/agent-values.yml

      - name: Deploy OpenTelemetry Demo
        uses: WyriHaximus/github-action-helm3@v3
        with:
          exec: |
            helm upgrade otel-demo-appo11y-cedric open-telemetry/opentelemetry-demo \
              --install \
              --force \
              --wait \
              --atomic \
              --timeout 10m0s \
              --namespace=otel-demo-appo11y-cedric \
              --create-namespace \
              --values=./otel-demo-appo11y/values.yml
